.Todo{
  display: flex;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0rem 30%;
}
.Todo div div{
  display: flex;
  align-items: center;
  border-bottom: 3px solid black;
  gap: 0.5rem;
}

.Todo div {
  margin-bottom: 2rem;
}
.searchbar{
  margin-top:2rem;
  border-bottom: none !important;
}